:root {
    --primary: #486BB8;
    
    --primary-text: #ffffff;
    --secondary: #486BB8;
    --secondary-text: #ffffff;
    --accent: #262626;
    --accent-text: #ffffff;
    --button-shadow: rgba(0, 0, 0, 0.5);
}
